@tailwind base;
@tailwind components;
@tailwind utilities;

font {
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lobster', sans-serif;

}

* {
    font-family: 'Gruppo', sans-serif;
    font-size: 17px;
    font-weight: 600 ;
}